<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider Name="urn:onecare:OneCare.Portal.SP"
                   AssertionConsumerServiceUrl="~/SAML/AssertionConsumerService"
                   CertificateFile="OneCare.Portal.SP.pfx"
                   CertificatePassword="password"/>

  <PartnerIdentityProvider Name="urn:onecare:OneCare.Partner.IdP"
                           SignAuthnRequest="false"
                           WantSAMLResponseSigned="true"
                           WantAssertionSigned="false"
                           WantAssertionEncrypted="false"
                           SingleSignOnServiceUrl="http://localhost/OneCare.Partner.IdP/SAML/SSOService"
                           SingleLogoutServiceUrl="http://localhost/OneCare.Partner.IdP/SAML/SLOService"
                           CertificateFile="OneCare.Partner.IdP.cer"/>
</SAMLConfiguration>
