<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
	<IdentityProvider Name="urn:onecare:OneCare.Partner.IdP"
										CertificateFile="OneCare.Partner.IdP.pfx"
										CertificatePassword="password"/>

	<PartnerServiceProvider Name="urn:onecare:OneCare.Partner.SP"
													WantAuthnRequestSigned="false"
													SignSAMLResponse="true"
													SignAssertion="false"
													EncryptAssertion="false"
													AssertionConsumerServiceUrl="http://localhost/OneCare.Partner.SP/SAML/AssertionConsumerService"
													SingleLogoutServiceUrl="http://localhost/OneCare.Partner.SP/SAML/SLOService"
													CertificateFile="OneCare.Partner.SP.cer"/>

	<PartnerServiceProvider Name="urn:onecare:OneCare.Portal.SP"
													WantAuthnRequestSigned="false"
													SignSAMLResponse="true"
													SignAssertion="false"
													EncryptAssertion="false"
													AssertionConsumerServiceUrl="http://localhost/OneCare.Portal.SP/SAML/AssertionConsumerService"
													SingleLogoutServiceUrl="http://localhost/OneCare.Portal.SP/SAML/SLOService"
													CertificateFile="OneCare.Portal.SP.cer"/>
</SAMLConfiguration>
